.followBtn {
  padding: 8px 16px;
  color: #FF6600;
  border: 1px solid #FF6600;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: sans-serif;
  background-color: white;
  cursor: pointer;
}
.followingBtn {
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 50px;
  background-color: #FF6600;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: sans-serif;
  cursor: pointer;
}