@import '../../basicStyle.scss';

section{
  width: 689px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
}

.sideBar {
  height: 100vh;
}

.rightContent {
  height: 100vh;
}

.mainSection {
  height: 100%;
  padding-right: 5px;
  overflow-y: scroll;
}

.header {
  @extend %container-border;
  border-bottom: 0px;
  height: 74px;
  padding: 0 28px;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.arrow {
  width: 17px;
  height: 14px;
  margin-right: 19px;
  cursor: pointer;
}
.title {
  font-weight: 700;
  line-height: 26px;
  cursor: pointer;
}

//FollowPage會用到
.self {
  text-align: start;
  .userName {
    font-weight: 700;
  }
  .tweetCount {
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    color: $secondary;
  }
}

