@import 'basicStyle';

.tweetItem {
  @extend %container-border;
  width: 100%;
  padding: 16px 29px;
  padding-left: 70px;
  position: relative;
  display: flex;
}

.avatar {
  @extend %avatar-min;
  position: absolute;
  left: 20px;
  top: 16px;
}

.tweetBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.5rem;
  .tweetTitle {
    display: flex;
    align-items: center;
    p {
      font-weight: 700;
      margin-right: 0.5rem;
    }
    span {
      color: $secondary;
      font-size: 14px;
    }
  }
  .tweetText {
    text-align: justify;
    line-height: 26px;
    color: #171725;
    margin-bottom: 6px;
  }
}

.close {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 21px;
  right: 4px;
}

.container {
  font-family: "Noto Sans TC";
  border: 1px solid #e6ecf0;
  height: 100vh;
}

.title {
  width: 100%;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
}

.tweetList {
  height: 100vh;
  overflow-y: scroll;
  border-top: 1px solid #e6ecf0;
}