.header {
  @extend %container-border;
  border-bottom: 0px;
  height: 74px;
  padding: 0 28px;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.arrow {
  width: 17px;
  height: 14px;
  margin-right: 19px;
  cursor: pointer;
}
.title {
  font-weight: 700;
  line-height: 26px;
  cursor: pointer;
}
