@import 'basicStyle';

.followCard {
  @extend %container-border;
  width: 100%;
  padding: 16px 24px;
}
.header {
  display: flex;
  align-items: center;
  .avatar {
      @extend %avatar-min;
      margin-right: 8px;     
    }
  .cardInfo {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .name {
    font-weight: 700;
    line-height: 26px;
  }
}

.body {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .description {
    width: 90%;
    text-align: justify;
  }
}