@import 'basicStyle';

.replyContent {
  @extend %container-border;
  background-color: #fff;
  width: 100%;
  min-height: 130px;
  padding: 16px 23px;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  .avatar {
    @extend %avatar-min;
    margin-right: 8px;
  }
  .replyInfo {
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
  }
  p.name {
    font-weight: bold;
    line-height: 26px;
    margin-right: 8px;
    color: #000;
  }
  p {
    font-size: 14px;
    line-height: 22px;
    color: $secondary;
  }
  .userLink {
    text-align: start;
    color: $secondary;
    font-size: 14px;
    line-height: 22px;
    span {
      color: $body-color;
    }
  }
}
.messageContent {
  width: 100%;
  padding-left: 55px;
  p {
    width: 80%;
    text-align: justify;
    padding: 0 4px;
  }
}
