@import 'basicStyle';

.modal {
  @extend %container-border; 
  width: 634px;
  border-radius: 14px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  height: 56px;
  border-bottom: 1px solid #e6ecf0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .close {
    height: 15px;
    width: 15px;
  }
  .submitBtn {
    @extend %main-button;
    background-color: $body-color;
    color: #fff;
    width: 64px;
  }
}

.banner {
  width: 100%;
  height: 200px;
  margin-bottom: 80px;
  position: relative;
  &:hover {
    opacity: 0.8;
  }
  .image {
    object-fit: cover;
  }
  .bannerUpload {
    width: 100%;
    height: 200px;
    position: absolute;
    display: none;
  }
  .bannerControl {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    z-index: 20;
    &:hover{
      & .uploadBanner,
      & .deleteBanner{
        display: block;
      }
    }
  }
  .uploadBanner {
    display: none;
    width: 24px;
    height: 24px;
    background-size: 100%, 100%;
    z-index: 99;
  }
  .deleteBanner {
    display: none;
    width: 20px;
    height: 20px;
    background-size: 100%, 100%;
    z-index: 99;
  }
}

.form {
  flex: 1;
  padding: 16px 24px;
  padding-left: 20px;
  .formControl {
    display: flex;
    justify-content: space-around;
    gap: .5rem;
  }
  .avatar {
    @extend %avatar-min;
    &:hover {
      opacity: .1;
    }
  }
}

.tweetItem {
  padding: 16px 29px;
  padding-left: 70px;
  position: relative;
  display: flex;
}
.avatar {
  @extend %avatar-min;
  width: 140px;
  height: 140px;
  position: absolute;
  left: 16px;
  top: 180px;
  border: 5px solid #fff;
  border-radius: 50%;
}
.tweetBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.5rem;
  .tweetTitle {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    p {
      font-weight: 700;
      margin-right: 0.5rem;
    }
    span {
      color: $secondary;
      font-size: 14px;
    }
  }
  .tweetText {
    text-align: start;
    line-height: 26px;
    color: $text-color;
    margin-bottom: 11px;
  }
  .replyTarget {
    font-size: 14px;
    line-height: 22px;
    color: $secondary;
    span {
      margin: 0;
    }
    .link {
      color: $body-color;
      cursor: pointer;
    }
  }
}
.connectLine {
  width: 2px;
  height: 80px;
  background-color: #b5b5be;
  position: absolute;
  top: 50%;
  left: 45px;
}

//模糊背景
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background:#e5e5e5;
  backdrop-filter: blur(3px);
  opacity: .9;
  z-index: 1;
}

.calculateInput {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
}

.text_container {
  @extend %input-style;
  margin-bottom: 4px;
}

.textarea_container {
  width: 100%;
  background-color: #f5f8fa;
  padding: 0 16px;
  line-height: 22px;
  border-bottom: 2px solid #657786;
  .label {
    font-size: 14px;
    color: #696974;
    text-align: start;
  }
  .textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f5f8fa;
    resize:none;
    height: 147px;
    width: 100%;
    flex: 1;
    padding: .5rem 0;
    font-size: 16px;
    border: 0;
  }
}

.calculateWord {
  width: 100%;
  margin-bottom: 8px;
  text-align: end;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #696974;
}

.hidden {
  display: none;
}

.avatarUpload {
  border: 1px solid #000;
  height: 150px;
  width: 150px;
  display: none;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 20;
}

.uploadBtn {
  height: 24px;
  width: 24px;
  background-size: 100%, 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 21;
}