@import 'basicStyle';

.tweet_container {
  @extend %container-border;
  background-color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.avatar {
  @extend %avatar-min;
}
.tweet_header {
  height: 50px;
  margin-bottom: 8px;
  display: flex;
  gap: 8px;
  .userName {
    font-weight: bold;
  }
  .userAcc {
    font-size: 14px;
    color: $secondary;
  }
}

.tweet_body {
  margin-bottom: 8px;
  font-size: 24px;
  text-align: left;
  line-height: 36px;
}

.time {
  margin-bottom: 8px;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: $secondary;
}
.tweet_footer {
  border-top: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;
  margin-bottom: 21px;
  padding: 16px 0;
  display: flex;
  p {
    margin-right: 1.5rem;
    font-weight: 700;
  }
  span {
    color: $secondary;
    font-weight: 400;
  }
}
.tweet_control {
  display: flex;
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 100px;
    cursor: pointer;
  }
}
