:root {
  --major: #ff6600;
  --gray: #767678;
}

html,
body {
  font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
}

.app {
  text-align: center;
  margin: 45px auto;
  max-width: 600px;
  min-width: 320px;
  width: 100%;
  background-color: white;
  padding: 12px 16px;
}