:root {
  --major: #ff6600;
  --gray: #767678;
}

html,
body {
  font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
}

.app {
  height: 100vw;
  margin: 0 130px;
  background-color: #fff;
  position: relative;
  padding-left: 500px;
}