@import 'basicStyle';

.tweetItem {
  @extend %container-border;
  background-color: #fff;
  padding: 16px 29px;
  padding-left: 70px;
  position: relative;
  display: flex;
}

.avatar {
  @extend %avatar-min;
  position: absolute;
  left: 20px;
  top: 16px;
}

.tweetBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.5rem;
  .tweetTitle {
    display: flex;
    align-items: center;
    p {
      font-weight: 700;
      margin-right: 0.5rem;
    }
    span {
      color: $secondary;
      font-size: 14px;
    }
  }
  .tweetText {
    text-align: justify;
    line-height: 26px;
    color: #171725;
    margin-bottom: 6px;
  }
  .tweetControl {
    display: flex;
    width: 100%;
  }
  .vectorSection {
    width: 20%;
    display: flex;
    align-items: center;
  }
  .likeSection {
    width: 20%;
    display: flex;
    align-items:center;
  }
  .vector {
    width: 13px;
    & ~ p {
      margin: 0;
      margin-left: 10px;
      line-height: 14px;
      font-size: 14px;
      color: $secondary;
    }
  }
  .like {
    height: 13px;
    width: 13px;
    & ~ p {
      margin: 0;
      margin-left: 10px;
      line-height: 14px;
      font-size: 14px;
      color: $secondary;
    }
  }
}
.link {
  color: #171725;
  cursor: pointer;
}
.description {
  width: 100%;
}