.adminLogin_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 69px;
  background-color: #fff;
}

.logo {
  width: 40px;
  height: 40px;
  margin-bottom: 30px;
}
.loginTitle {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 28px;
}

.inputContent {
  margin-bottom: 2rem;
  width: 365px;
}

.authButton {
  border-radius: 50px;
  background-color: #ff6600;
  border: none;
  width: 356px;
  height: 46px;

  font-size: 20px;
  color: white;
  min-width: 300px;
  padding: 8px 24px;
  margin-top: 8px;
}

.linkRouter {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  width: 365px;
}

.link {
  color: #0062ff;
}